
body{
  font-family: 'Mali', cursive;
  margin: 0 ;
  padding: 0;
  }
  
  body {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .body {
      width: 50%;
    }
  }

#home{
  background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHdlYnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#header {
  background-image: linear-gradient(to bottom right, rgb(3, 3, 3),rgb(100, 90, 45));
  position:fixed;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  }
  #header>div{    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
  }

#logo{
  color: rgb(241, 198, 6);
  font-size:40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
#nav{
  display: inline-block;
    width: 80%;
    text-align: right
}
.main-nav-link{
  margin: 0 ;
  list-style: none;
  
 }
a:link {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(255, 210, 7);
}
.nav-link{
  display: inline-block;
  padding-left: 20px;  
}
#home{
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  height: 845px;
 
}
svg text{
  stroke:black;
  font-size: 40px;
  font-weight: 800;
  stroke-width: 3;
  animation: textAnimate 3s infinite alternate;
}
@keyframes textAnimate{
  0%{
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100%{
    stroke-dasharray: 50 0%;
    stroke-dashoffset: -20%;
  }
}
#hello{
  font-family: monospace;
}
#about{
  margin: 0;
  color: rgb(241, 198, 6);
  font-size: 20px;
  font-weight: bolder;
  background-image: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHdlYnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 845px;
}
.title{
  margin: 0;
  font-size: 40px;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
}
#desc{
  text-align: left;
  margin-left: 20px;
}
.img-div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  
}
#img{
  height: 300px;
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 border-radius: 50%;
}
#projects{
  background-image: url(https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fHdlYnxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);
  margin: 0 auto;
  color:black;
  font-size: 20px;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 845px;
  
}


.img-caption {
  text-align: center;
  float: left;
  margin-left: 20px;
  font-size: larger; 
  font-weight: bold;
}

.project{
  float: right;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
 
}

#btn{
  height: 50px;
  width: 100px;
  background-color: black;
  color: rgb(255, 238, 0);
  align-items: flex-start;
  border-radius: 50%;
  font-family: 'Mali', cursive;
}
#footer{
  width: 100%;
  height: 100px;
}
span{
  margin: 0 30px 0 30px;
  
}
