*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
  
#home{
  min-width: 100%;
  min-height: 100vh;
}
 

#header {
  background-color: white;
  position:fixed;
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
   }
   
  #header>div{    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
  }

#logo{
  
  font-size:40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
#nav{
  margin-right: 30px;
  display: inline-block;
    width: 80%;
   text-align: right;
}
.main-nav-link{
  margin: 0 ;
  list-style: none;
  
 }
a:link {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(7, 7, 31);
}
.nav-link{
  display: inline-block;
  padding-right: 30px;
    
}


#svg{
  color: rgb(7, 7, 31);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  height: 100vh;
 
}
svg text{
  stroke:rgb(7, 7, 31);
  font-size: 40px;
  font-weight: 700;
  stroke-width: 0.5px;
  animation: textAnimate 4s infinite alternate;
}
@keyframes textAnimate{
  0%{
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100%{
    stroke-dasharray: 50 0%;
    stroke-dashoffset: -20%;
  }
}
#hello{
  font-family: 'Montserrat', sans-serif;
}
#about{
  color: rgb(7, 7, 31);
  height:100vh;
}
.title{
  padding-top: 1em;
  color: transparent;
  font-family: 'Rubik Mono One', sans-serif;
  -webkit-text-stroke:2px rgb(7, 7, 31);
  font-size: 10rem;
  stroke-width: 17rem;
}
.title-p{
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  color: transparent;
  font-family: 'Rubik Mono One', sans-serif;
  -webkit-text-stroke:2px rgb(7, 7, 31);
  font-size: 8rem;
  stroke-width: 17rem;
}

#desc{
  text-align: left;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
.img-div{
  display: block;
  width: 50%;
 
}
#img{
  height: 300px;
  width: 100%;
  
 
}
#projects{
  
  margin: 0 auto;
  color:black;
  font-size: 20px;
  font-weight: bolder;
  
  
}


.img-caption {
  text-align: center;
  float: left;
  margin-left: 20px;
  font-size: larger; 
  font-weight: bold;
}

.project{
  float: right;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
 
}

#btn{
  height: 50px;
  width: 100px;
  background-color: black;
  color: rgb(255, 238, 0);
  align-items: flex-start;
  border-radius: 50%;
  font-family: 'Mali', cursive;
}
#footer{
  width: 100%;
  height: 100px;
}
span{
  margin: 0 30px 0 30px;
  
}
@media screen and (max-width: 768px){
  #header {
    width: 18%;
    margin-left: 2em;
    }
    
    #logo{
      width:58%;
      height: 10vh;
    }
    .line{
      width: 25px;
      height: 3px;
      background:black;
      margin: 5px;}
      nav{
        position: relative;
      }
      .burger{
        cursor: pointer;
        top: 50%;
        z-index: 2;
      }
  
    .main-nav-link{
      background: #6f6f89;
      position: fixed;
      height:100vh;
      width:100% ;
      flex-direction: column;
      clip-path: circle(50px at 90% -10% );
      -webkit-clip-path: circle(50px at 90% -10% );
      transition: all 1s ease-out
    }
    .main-nav-link.open{
      clip-path: circle(1000px at 90% -10% );
      -webkit-clip-path: circle(1000px at 90% -10% );
    }
    .nav-link{
      color: white;
    }

    #svg {
      margin-top: 12rem;
      color: rgb(7, 7, 31);
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      font-weight: bolder;
      text-align: center;
      height: 100vh;
    }
     
}